<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  <title>Login</title>
  
  <%- include('../partials/head'); %>

  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <style>
    .carda {
      border:none;
      padding: 10px 50px;
    }
    .carda::after {
      position: absolute;
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .carda:hover {
      transform: scale(1.02, 1.02);
      -webkit-transform: scale(1.02, 1.02);
      backface-visibility: hidden; 
      will-change: transform;
      box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
    }
    .carda:hover::after {
      opacity: 1;
    }
    .carda:hover .btn-outline-primary{
      color:white;
      background:#007bff;
    }
  </style>

<script>
  function showPreview1(event){
 if(event.target.files.length > 0){
 var src = URL.createObjectURL(event.target.files[0]);
 var preview = document.getElementById("file-ip-1-preview");
 preview.src = src;
 preview.style.display = "block";
 preview.hidden=false;

 var src2 = URL.createObjectURL(event.target.files[1]);
 var preview2 = document.getElementById("file-ip-2-preview");
 preview2.src = src2;
 preview2.style.display = "block";
 preview2.hidden=false;

 var src3 = URL.createObjectURL(event.target.files[2]);
 var preview3 = document.getElementById("file-ip-3-preview");
 preview3.src = src3;
 preview3.style.display = "block";
 preview3.hidden=false;
}

}
</script>
  
  </head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
  
</header>

<form action="/posts/admin/manageposts/createblogpost" method="POST" enctype="multipart/form-data">
<section class=" card vh-100 " style="background-color: #E9ECEF; margin-left: 35px;margin-right: 35px;">
  <div class="container mt-5">
    
    <div class="row">
      <div class="col-lg-12 col-md-9">
        <div class="card carda">
          
          <div class="card-body text-secondary">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="mb-4">Create a new blog post</h3>
              </div>
              <div class="col-lg-6 text-end">
                <select name="postType" class="form-select" aria-label="Default select example">
                  <option selected>Choose post type</option>
                  <option value="Flood post">Flood post</option>
                  <option value="Earthquake post">Earthquake post</option>
                  <option value="Information post">Information post</option>
                </select>
              </div>
            </div>

            <form>
              <div class="form-group">
              
                <input type="text" class="form-control" id="title" name="title" placeholder="">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="9" placeholder="" name="description"></textarea>
              </div>

              <div>
                <label for="cnicimage" class="form-label text-left">Choose images</label>
              </div>
              <div class="row">
           
   
                <div class="col-lg-4">
                <img  id="file-ip-1-preview"src="https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg" style="max-height: 200px;border-radius:30px" class="img-fluid" alt="..."hidden>
                <div class="mb-3">
                  <label for="cnicimage" class="form-label"></label>
                </div>
                </div>

                <div class="col-lg-4">
                  <img  id="file-ip-2-preview"src="https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg" style="max-height: 200px;border-radius:30px" class="img-fluid" alt="..."hidden>
                  <div class="mb-3">
                    <label for="cnicimage" class="form-label"></label>
                  </div>
                </div>

                  <div class="col-lg-4">
                    <img  id="file-ip-3-preview"src="https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg" style="max-height: 200px;border-radius:30px" class="img-fluid" alt="..." hidden>
                    <div class="mb-3">
                      <label for="cnicimage" class="form-label"></label>
                    </div>
                  </div>
              
              </div>
              <input  class="form-control form-control-sm" id="image1" type="file" name="image1" multiple required onchange="showPreview1(event);">

              


              <div class="text-center mt-3">
                <button class="btn btn-md btn-outline-secondary "  type="Submit post">Submit post</button>
              </div>
            
       
            </form>
          </div>
        </div>
        
      </div>
      
    </div>
    
  </div>


</section>
</form>


<footer>
</footer>

</body>
</html>