<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Admin</title>
<%- include('../partials/head'); %>
<!-- Custom styles for this template-->
<link href="../css/sb-admin-2.min.css" rel="stylesheet">
<style>


</style>
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>

</header>


<main>
  
  <p>daashboard</p>
    

 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>


</html>